#myModal .modal-title {
  text-align: center;
  font-family: GothaM;
  font-size: 1.8rem;
  color: #28292d;
  margin-bottom: 3.2rem;
}

#myModal .text-input {
  margin-bottom: 2.1rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

#myModal .sec-01__bottom-btn {
  margin: auto;
  margin-top: 1.7rem;
  width: 100%;
}

#myModal .form-container {
  margin: auto;
  box-shadow: 0 0 0 0;
  padding: 0 6.2rem;
}

#myModal .sec-14__form {
  padding: 0;
}

.modal-content {
  padding: 3rem 1.5rem 3rem;
}

#myModal .sec-07__form {
  padding: 0;
}

#telModal .sec-07__form {
  padding: 0;
}

@media (max-width: 767px) {
  #myModal .form-container {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #myModal .form-container {
    padding: 0 5rem;
    width: 100%;
  }

  #myModal .sec-01__content-btn {
    margin-left: 0;
    padding: 1.2rem 3.5rem;
  }

  .modal-content {
    padding: 4rem 0;
  }

  #myModal .sec-07__form {
    width: auto;
  }

  #myModal .sec-01__bottom-btn {
    width: 14rem;
    margin: auto;
  }

  #telModal .sec-07__form {
    width: auto;
  }

  #telModal .sec-01__bottom-btn {
    width: 100%;
  }

  #telModal .form-container {
    padding: 0 5rem;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .modal-content {
    padding: 6rem 0;
  }

  #myModal .sec-01__content-btn {
    margin-left: 0;
    padding: 1.2rem 3.5rem;
  }

  #myModal .form-container {
    width: 100%;
  }

  #myModal .modal-title {
    font-size: pxToRem(38px);
  }

  #telModal .sec-01__content-btn {
    margin-left: 0;
    padding: 1.2rem 3.5rem;
  }

  #telModal .form-container {
    padding: 0 5rem;
    width: 100%;
  }

  #telModal .modal-title {
    font-size: 1.5rem;
  }

  #myModal .sec-07__form {
    width: auto;
  }

  #myModal .sec-01__bottom-btn {
    width: 14rem;
  }

  #telModal .sec-07__form {
    width: auto;
  }

  #telModal .sec-01__bottom-btn {
    width: 100%;
  }
}
