@font-face {
  font-family: GothaB;
  src: url('fonts/GothaProBol.woff') format("woff"),
       url('fonts/GothaProBol.woff2') format("woff2");
}

@font-face {
  font-family: GothaR;
  src: url('fonts/GothaProReg.woff') format("woff"),
       url('fonts/GothaProReg.woff2') format("woff2");
}

@font-face {
  font-family: GothaM;
  src: url('fonts/GothaProMed.woff') format("woff"),
       url('fonts/GothaProMed.woff2') format("woff2");
}

@font-face {
  font-family: CleanL;
  src: url('fonts/cleanvertising-light.woff') format("woff"),
       url('fonts/cleanvertising-light.woff2') format("woff2");
}

@font-face {
  font-family: FuturaM;
  src: url('fonts/futuramediumc.woff') format("woff"),
       url('fonts/futuramediumc.woff2') format("woff2");
}

@font-face {
  font-family: GilroyL;
  src: url('fonts/Gilroylight.woff') format("woff"),
       url('fonts/Gilroylight.woff2') format("woff2");
}

@font-face {
  font-family: SansR;
  src: url('fonts/PTSans-Web-Regular.woff') format("woff"),
       url('fonts/PTSans-Web-Regular.woff2') format("woff2");
}

@font-face {
  font-family: SansB;
  src: url('fonts/PTSans-Web-Bold.woff') format("woff"),
       url('fonts/PTSans-Web-Bold.woff2') format("woff2");
}
